# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
setopt extendedglob
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
zstyle :compinstall filename '/home/arvid/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall

# Aliases
alias c='clear'

alias src='source ~/.zshrc'

alias cm='chezmoi'

alias gs='git status'

alias lzg='lazygit'
alias g='lazygit'
alias lzd='lazydocker'
alias d='lazydocker'

alias n='nvim'
alias nf='nvim $(fzf --preview="bat {}")'

alias tn='tmux new-session -t'
alias ta='tmux a -t'
alias tk='tmux kill-session -t'

export EDITOR='nvim'

{{- if eq .chezmoi.os "darwin"}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- end}}

{{- if eq .chezmoi.os "linux"}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end}}

export NVM_DIR="$HOME/.nvm"
  [ -s "${HOMEBREW_PREFIX}/opt/nvm/nvm.sh" ] && \. "${HOMEBREW_PREFIX}/opt/nvm/nvm.sh"  # This loads nvm
  [ -s "${HOMEBREW_PREFIX}/opt/nvm/etc/bash_completion.d/nvm" ] && \. "${HOMEBREW_PREFIX}/opt/nvm/etc/bash_completion.d/nvm"  # This loads nvm bash_completion

# pnpm
export PNPM_HOME="/home/arvid/.local/share/pnpm"
case ":$PATH:" in
  *":$PNPM_HOME:"*) ;;
  *) export PATH="$PNPM_HOME:$PATH" ;;
esac
# pnpm end

eval "$(starship init zsh)"
